node_modules/commander/LICENSE
node_modules/@babel/helper-validator-identifier/LICENSE
node_modules/@jridgewell/gen-mapping/LICENSE
node_modules/@jridgewell/resolve-uri/LICENSE
node_modules/@jridgewell/source-map/LICENSE
node_modules/@jridgewell/sourcemap-codec/LICENSE
node_modules/@jridgewell/trace-mapping/LICENSE
node_modules/buffer-from/LICENSE
node_modules/has-flag/package.json
node_modules/js-tokens/package.json
node_modules/merge-stream/package.json
node_modules/picocolors/LICENSE
node_modules/randombytes/package.json
node_modules/safe-buffer/LICENSE
node_modules/source-map/package.json
node_modules/source-map-support/browser-source-map-support.js
node_modules/supports-color/license
